@import url("components/container.css");
@import url("components/avatar.css");
@import url("components/button.css");
@import url("components/banner.css");
@import url("components/card.css");

body {
  background-color:#F7F9FC;
}
h1 {
  font-size: 35px;
  margin-top: -20px;
  letter-spacing: 3px;
  color: #e30613; 
  text-align: center;
  font-family: 'Montserrat', sans-serif;


}

h2 {
  font-family: 'Roboto' sans-serif;
  font-weight: bold;
}

p {
  font-size: 15px;
  font-family: 'Lato', sans-serif;
  color: black;
  margin: 10px auto;
  max-width: 800px;
  align-items: center;
}

a {
  text-decoration: none;
  margin: 60px;
}

a:hover {
  color: black;
}










